<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProject">
        <activity
            android:name=".WrongMissyActivity"
            android:exported="false" />
        <activity
            android:name=".TheMegActivity"
            android:exported="false" />
        <activity
            android:name=".ToyStoryActivity"
            android:exported="false" />
        <activity
            android:name=".BoozgalosMovieActivity"
            android:exported="false" />
        <activity
            android:name=".FightClubActivity"
            android:exported="false" />
        <activity
            android:name=".OppenheimerActivity"
            android:exported="false" />
        <activity
            android:name=".TheGodfatherActivity"
            android:exported="false" />
        <activity
            android:name=".SchindlersListActivity"
            android:exported="false" />
        <activity
            android:name=".MatrixActivity"
            android:exported="false" />
        <activity
            android:name=".MeanGirlsActivity"
            android:exported="false" />
        <activity
            android:name=".ForrestGumpActivity"
            android:exported="false" />
        <activity
            android:name=".titanic"
            android:exported="false" />
        <activity
            android:name=".SeriesCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".MoviesCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity_user_page"
            android:exported="false" />
        <activity
            android:name=".ItMovieActivity"
            android:exported="false" />
        <activity
            android:name=".ThePianistActivity"
            android:exported="false" />
        <activity
            android:name=".ToAllTheBoysActivity"
            android:exported="false" />
        <activity
            android:name=".WhiteChiksActivity"
            android:exported="false" />
        <activity
            android:name=".UpActivity"
            android:exported="false" />
        <activity
            android:name=".loginPage"
            android:exported="true" />
        <activity
            android:name=".registerPage"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>